extends layout

block content
  block content
    form(method="post" action="/create" class="form-horizontal")
      fieldset
        h1.text-center New Poll
        .form-group
          label.col-md-4.control-label(for='name') Title of Poll
          .col-md-5
            input#name.form-control.input-md(name='name', type='text', placeholder='Title', required)
        .form-group
          label.col-md-4.control-label(for='options') Options (separated by line)
          .col-md-5
            textarea#options.form-control(name='options' rows='4' placeholder='First option\nSecond option' required)
        .text-center
          button.btn.btn-default.center-block(type='submit') Create!
    script(src='/javascripts/placeholder.js')