extends layout

block content
  block content
    .container 
      h1.text-center= poll.name
      .row.margin
        .col-sm-4.col-sm-offset-2
          canvas#skills(width='300', height='300')
        .col-sm-4.voting-choices
          .panel.panel-default
            .panel-body
              - if (!voted)
                form.options(method="post" action="/vote")
                  input(type="hidden" name="pollid" value=poll.id)
                  - if (poll.options.length)
                    .choice
                      -for (var i = 0; i < poll.options.length; i++)
                          +radio(i, ' '+poll.options[i].optionName)
                  button.btn.btn-default.center-block(type='submit') Vote!
              - else
                p Thank you for voting on this poll!
                a.btn.btn-default(roll='button' href='/') Back to Polls
    script(src='/javascripts/Chart.min.js')
    script(src='/javascripts/createchart.js')
      
mixin radio(value, name)
  p
    input(type='radio', name='option', value=value)
    !=  name

  