@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/squared_metal.png')
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

.font {
  font-family: 'Bungee Shade', cursive;
}

.margin {
  margin: 3px;
}

.panel-body {
  background:#e0ebeb;
  
}

.footer {
  margin-top: 20px;
  font-size: 10px;
}


.voting-choices {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
}
.choice {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    *display: inline;
    zoom: 1
}